* {
    box-sizing: border-box;

}

.tweet {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.username {
    color: blue;
    font-size: 15px;
    margin: 0 auto;
}

.name {
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
}

.message {
    font-size: 20px;
}

.date {
    color: grey;
    font-size: 15px;
    margin: 0 auto;
}
